examples/bible/usx/eng-web_usfx/metadataWbt-1.3.rnc

default namespace = ""
namespace dcds = "http://purl.org/dc/xmlns/2008/09/01/dc-ds-xml/"

start =
  element DBLMetadata {
    attribute id { xsd:string { pattern = "[0-9a-f]{16}" }? },
    attribute type { "text" },  # “text” | “print” | “audio” | “video”
    attribute typeVersion { "1.3" },
    attribute revision { xsd:integer? },
    attribute xml:base { "http://purl.org/ubs/metadata/dc/terms/" }?,
    element identification {
      (abbreviation
         # abbreviation local should default to abbreviation
       | abbreviationLocal
       | element description {
           attribute dcds:propertyURI { "description" }?,
           text 
           }
       | element name {
           attribute dcds:propertyURI { "title" }?,
           xsd:string { minLength = "2" }
           }
         # Name local should default to name 
       | element nameLocal {
           xsd:string { minLength = "2" }
           }
       | element dateCompleted {
           attribute dcds:propertyURI { "date" }?,
           attribute dcds:sesURI { "http://purl.org/dc/terms/W3CDTF" }?,
           #xsd:string { pattern = "\d{4}" }
           (xsd:date |xsd:gYear |xsd:gYearMonth |xsd:dateTime)
           }
       | element scope {
           attribute dcds:propertyURI { "title/scriptureScope" }?,
           ("NT" | scopes) 
           }
         # systemId[@type='paratext'] is overwritten by Paratext
       | element systemId {
           attribute type { "tms" | "reap" | "paratext" | "biblica" },
           attribute dcds:propertyURI { "identifier/dblID" | "identifier/tmsID" | "identifier/reapID" | "identifier/ptxID" | "identifier/biblicaID" }?,
           text 
           })+,
      # bundleProducer is overwritten by Paratext
      element bundleProducer { text }
    },
    element confidential {
      attribute dcds:propertyURI { "accessRights/confidential" }?,
      #("true" | "false")
      xsd:boolean
    },
    element agencies {
      element etenPartner { "UBS" | "WBT" | "Biblica" | "PBT" | "SIM" }*,
      # primary translation agency/sponsorship
      element creator { 
        attribute dcds:propertyURI { "creator" }?,
        xsd:string { minLength = "2" }
        }+,
      # publisher may be the same as translation (description/sponsorship) 
      element publisher {
        attribute dcds:propertyURI { "publisher" }?,
        xsd:string { minLength = "2" }
        }*,
      element contributor {
        attribute dcds:propertyURI { "contributor" }?,
        text
        }*
    },
    element language {
      element iso { 
        attribute dcds:propertyURI { "language/iso" }?,
        attribute dcds:sesURI { "http://purl.org/dc/terms/ISO639-3" }?,
        xsd:string { pattern = "[a-z]{3}" } 
        },
      element name { 
        attribute dcds:sesURI { "http://purl.org/dc/terms/ISO639-3" }?,
        attribute dcds:propertyURI { "subject/subjectLanguage" }?,
        xsd:string
        },
      element ldml { 
        attribute dcds:propertyURI { "language/ldml" }?,
        xsd:string { pattern = "[A-Za-z]{2,3}([\-_][A-Za-z0-9]+){0,3}" }? 
        },
      element rod { 
        attribute dcds:propertyURI { "language/rod" }?,
        xsd:string { pattern = "[0-9]{5}" }?
        },
      element script {
        attribute dcds:propertyURI { "language/script" }?,
        scripts?
        },
      # LTR (Left to Right) or RTL (Right to Left) 
      # scriptDirection is overwritten by Paratext
      element scriptDirection {
        attribute dcds:propertyURI { "language/scriptDirection" }?,
        ("LTR" | "RTL") 
        },
      element numerals {
        attribute dcds:propertyURI { "language/numerals" }?,
        numeralSystems?
        }
    },
    element country { 
      element iso { 
      attribute dcds:propertyURI { "coverage/spatial" }?,
      attribute dcds:sesURI { "http://purl.org/dc/terms/ISO3166" }?, 
      xsd:string { pattern = "[A-Za-z]{2,3}" } 
      }, 
    element name { 
      attribute dcds:propertyURI { "subject/subjectCountry" }?, 
      xsd:string
      }},
    element type { 
      element translationType { 
        attribute dcds:propertyURI { "type/translationType" }?, 
        ("First" | "New" | "Revision") 
        }, 
      element audience {
        attribute dcds:propertyURI { "audience" }?, 
        ( "Basic" | "Common" | "Common - Literary" | "Literary" | "Liturgical")
        }},
    # bookNames/book is overwritten by Paratext
    element bookNames { 
      element book { 
        attribute code { bookCode }, 
        element long { text }, 
        element short { text }, 
        element abbr { text } }* },
    element contents {
      attribute dcds:propertyURI { "tableOfContents" }?,
      element bookList {
        attribute id { xsd:integer },
        attribute default { "true" }?,
        # default to name from identification section  
        element name { xsd:string { minLength="2" } }, 
        # default to name local from identification section
        element nameLocal { xsd:string { minLength="2" } },
        abbreviation, 
        abbreviationLocal, 
        # "Protestant" | "NT" | "NT + OT" or <Name> from Cannons.xml
        element description { text }, 
        # Protestant 
        element descriptionLocal { text }, 
        element books { 
          element book { 
            attribute code { bookCode }
        }+ } }+ },
    element progress {
        element book {
            attribute code { bookCode },
            attribute stage {
                xsd:string { pattern = "[1-4]" }
            } 
        }+
    },
	# Default to Publisher (from agencies) 
    element contact {
      element rightsHolder {
        attribute dcds:propertyURI { "rightsHolder" }?,
        text
      },
	  # Default to rights holder 
      element rightsHolderLocal {
        attribute dcds:propertyURI { "rightsHolder/contactLocal" }?,
        text
      },
      element rightsHolderAbbreviation {
        attribute dcds:propertyURI { "rightsHolder/contactAbbreviation" }?,
        xsd:NCName
      },
      element rightsHolderURL {
        attribute dcds:propertyURI { "rightsHolder/contactURL" }?,
        xsd:anyURI
      },
      element rightsHolderFacebook {
        attribute dcds:propertyURI { "rightsHolder/contactFacebook" }?,
        xsd:anyURI
      }
    },
    element copyright {
	  # For example: ©1983, 1992 SIL International 
      element statement {
        attribute contentType { "xhtml" },
        attribute dcds:propertyURI { "rights" }?,
        htmlMarkup
      }
    },
    element promotion {
      element promoVersionInfo {
        attribute contentType { "xhtml" },
        attribute dcds:propertyURI { "description/pubPromoVersionInfo" }?,
		htmlMarkup
      },
      element promoEmail {
        attribute contentType { "xhtml" },
        attribute dcds:propertyURI { "description/pubPromoEmail" }?,
        htmlMarkup
      }
    },
    element archiveStatus {
      # archivistName is overwritten by Paratext
      element archivistName {
        attribute dcds:propertyURI { "contributor/archivist" }?,
        text
      },
	  # ex. 2012-03-12T17:51:32.7907868+00:00
      # dateArchived is overwritten by Paratext
      element dateArchived {
        attribute dcds:propertyURI { "dateSubmitted" }?,
        attribute dcds:sesURI { "http://purl.org/dc/terms/W3CDTF" }?,
        xsd:dateTime?
      },
      # dateUpdated is overwritten by Paratext
      element dateUpdated {
        attribute dcds:propertyURI { "modified" }?,
        attribute dcds:sesURI { "http://purl.org/dc/terms/W3CDTF" }?,
        xsd:dateTime?
      },
      element comments {
        attribute dcds:propertyURI { "abstract" }?,
        text
      }
    },
    # format is overwritten by Paratext
    element format {
      attribute dcds:propertyURI { "format" }?,
      attribute dcds:sesURI { "http://purl.org/dc/terms/IMT" }?,
      "text/xml"
    }
  }

abbreviation = element abbreviation { 
	xsd:string { pattern = "[\-A-Za-z0-9]{2,8}" } 
	}

abbreviationLocal = element abbreviationLocal { 
	xsd:string { pattern = "[\-A-Za-z0-9]{2,8}" } 
	}

htmlMarkup = (
           element p { (text | htmlCharMarkup)+ }
         | element h1 { text }
         | element h2 { text }
         | element h3 { text }
         | element ul { 
             element li { text }+}
         | element ol { 
             element li { text }+}
         | element blockquote { text }
         | htmlCharMarkup)+

htmlCharMarkup = ( text
		 | element a {
             attribute href { xsd:anyURI },
             htmlCharMarkup
           }
         | element img {
            attribute src { xsd:anyURI },
            attribute alt { text }?,
            text
            }           
         | element br { empty }
         | element strong { text }
         | element b { text }
         | element em { text }
         | element i { text })

scopes = ("Bible with Deuterocanon" |
        "Bible without Deuterocanon" |
        "New Testament and Psalms" |
        "New Testament and Shorter Old Testament" |
        "New Testament only" |
        "Old Testament only" |
        "Old Testament with Deuterocanon" |
        "Shorter Old Testament only" |
        "Study Bible" |
        "Portion only" |
        "Selection only")

scripts = ("Arabic" |
        "Arabic (Modified)" |
        "Armenian" |
        "Assamese" |
        "Bengali" |
        "Burmese" |
        "Chinese (Simplified)" |
        "Chinese (Traditional)" |
        "Cyrillic" |
        "Cyrillic (Modified)" |
        "Devanagari" |
        "Ethiopic" |
        "Georgian" |
        "Greek" |
        "Gurmukhi" |
        "Hebrew" |
        "Japanese" |
        "Khmer" |
        "Korean" |
        "Latin" | "Roman" |
        "Persian" |
        "Persian (Modified)" |
        "Pollard" |
        "Syllabic" |
        "Syriac" |
        "Syriac" |
        "Thai" |
        "Tibetan")

numeralSystems = ("Arabic" #(a.k.a. 'Hindu') = 0123456789
         | "Bengali"
         | "Burmese"
         | "Devanagari"
         | "Ethiopic"
         | "Farsi"
         | "Gujarati"
         | "Gurmukhi"
         | "Hindi" #(i.e. 'Arabic' as used in Egypt)
         | "Kannada"
         | "Khmer"
         | "Malayalam"
         | "Oriya"
         | "Tamil"
         | "Telugu"
         | "Thai"
         | "Tibetan")

bookCode = (
           "GEN"   # Genesis
         | "EXO" # Exodus
         | "LEV" # Leviticus
         | "NUM" # Numbers
         | "DEU" # Deuteronomy   
         | "JOS" # Joshua 
         | "JDG" # Judges 
         | "RUT" # Ruth 
         | "1SA" # 1 Samuel 
         | "2SA" # 2 Samuel 
         | "1KI" # 1 Kings 
         | "2KI" # 2 Kings 
         | "1CH" # 1 Chronicles 
         | "2CH" # 2 Chronicles 
         | "EZR" # Ezra 
         | "NEH" # Nehemiah 
         | "EST" # Esther (Hebrew)
         | "JOB" # Job 
         | "PSA" # Psalms 
         | "PRO" # Proverbs 
         | "ECC" # Ecclesiastes 
         | "SNG" # Song of Songs 
         | "ISA" # Isaiah 
         | "JER" # Jeremiah 
         | "LAM" # Lamentations 
         | "EZK" # Ezekiel 
         | "DAN" # Daniel (Hebrew)
         | "HOS" # Hosea 
         | "JOL" # Joel 
         | "AMO" # Amos 
         | "OBA" # Obadiah 
         | "JON" # Jonah 
         | "MIC" # Micah 
         | "NAM" # Nahum 
         | "HAB" # Habakkuk 
         | "ZEP" # Zephaniah 
         | "HAG" # Haggai 
         | "ZEC" # Zechariah 
         | "MAL" # Malachi 
         | "MAT" # Matthew 
         | "MRK" # Mark 
         | "LUK" # Luke 
         | "JHN" # John 
         | "ACT" # Acts 
         | "ROM" # Romans 
         | "1CO" # 1 Corinthians 
         | "2CO" # 2 Corinthians 
         | "GAL" # Galatians 
         | "EPH" # Ephesians 
         | "PHP" # Philippians 
         | "COL" # Colossians 
         | "1TH" # 1 Thessalonians 
         | "2TH" # 2 Thessalonians 
         | "1TI" # 1 Timothy 
         | "2TI" # 2 Timothy 
         | "TIT" # Titus 
         | "PHM" # Philemon 
         | "HEB" # Hebrews 
         | "JAS" # James 
         | "1PE" # 1 Peter 
         | "2PE" # 2 Peter 
         | "1JN" # 1 John 
         | "2JN" # 2 John 
         | "3JN" # 3 John 
         | "JUD" # Jude 
         | "REV" # Revelation 
         | "TOB" # Tobit 
         | "JDT" # Judith 
         | "ESG" # Esther Greek 
         | "WIS" # Wisdom of Solomon 
         | "SIR" # Sirach (Ecclesiasticus)
         | "BAR" # Baruch 
         | "LJE" # Letter of Jeremiah 
         | "S3Y" # Song of 3 Young Men 
         | "SUS" # Susanna 
         | "BEL" # Bel and the Dragon 
         | "1MA" # 1 Maccabees 
         | "2MA" # 2 Maccabees 
         | "3MA" # 3 Maccabees 
         | "4MA" # 4 Maccabees 
         | "1ES" # 1 Esdras (Greek)
         | "2ES" # 2 Esdras (Latin)
         | "MAN" # Prayer of Manasseh 
         | "PS2" # Psalm 151
         | "ODA" # Odes 
         | "PSS" # Psalms of Solomon 
         | "EZA" # Apocalypse of Ezra 
         | "5EZ" # 5 Ezra 
         | "6EZ" # 6 Ezra 
         | "DAG" # Daniel Greek 
         | "PS3" # Psalms 152-155
         | "2BA" # 2 Baruch (Apocalypse)
         | "LBA" # Letter of Baruch 
         | "JUB" # Jubilees 
         | "ENO" # Enoch 
         | "1MQ" # 1 Meqabyan 
         | "2MQ" # 2 Meqabyan 
         | "3MQ" # 3 Meqabyan 
         | "REP" # Reproof 
         | "4BA" # 4 Baruch 
         | "LAO" # Laodiceans 
           # Non scripture text Id's
         | "XXA" # Extra A, e.g. a hymnal 
         | "XXB" # Extra B 
         | "XXC" # Extra C 
         | "XXD" # Extra D 
         | "XXE" # Extra E 
         | "XXF" # Extra F 
         | "XXG" # Extra G 
         | "FRT" # Front Matter 
         | "BAK" # Back Matter 
         | "OTH" # Other Matter 
         | "INT" # Introduction 
         | "CNC" # Concordance 
         | "GLO" # Glossary 
         | "TDX" # Topical Index 
         | "NDX") # Names Index 

licenseType = ("BY" # Attributaion only
         | "BY-ND"       #  Attribution-NoDerivatives
         | "BY-NC-ND" # Attribution-NonCommercial- NoDerivatives 
         | "BY-NC"       # Attribution-NonCommercial 
         | "BY-NC-SA" # Attribution-NonCommercial- ShareAlike 
         | "BY-SA"       # Attribution-ShareAlike 
         | "PD")           # Dedicated to or marked as being in the public domain
